<!DOCTYPE html>
<html>
  <head>
    <title>Meadow Travel</title>
    <body>
      <header>
        <img src='/img/logo.png' width="200px" alt="Meadowlark Travel Logo">
      </header>
      {{{body}}}
    </body>
    <footer>2023 Meadowlark Travel</footer>
  </head>
</html>